*.user
*.suo
*.userosscache
*.rsuser

bin/
obj/

.tmp/

TestResults/

.vs/

.idea/*
!.idea/.idea.NmGraphAgTool/
.idea/.idea.NmGraphAgTool/*
!.idea/.idea.NmGraphAgTool/.idea/
.idea/.idea.NmGraphAgTool/.idea/*
!.idea/.idea.NmGraphAgTool/.idea/.gitignore
